<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.winapps.co/</SiteUrlToLaunchAfterPublish>
    <AzureAuthenticationAppPrincipalID />
    <AzureAuthenticationTenantID />
    <AzureAuthenticationReplyUrl />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://web802.discountasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>winapps.co</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>winappsco00</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RavenHQ" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Url=https://ibis.ravenhq.com/databases/AISolutions-Win8Apps;ApiKey=64057eac-fa33-4e41-88dd-6a0777fd5dd8" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RavenHQ_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Url=https://ibis.ravenhq.com/databases/AISolutions-Win8Apps;ApiKey=64057eac-fa33-4e41-88dd-6a0777fd5dd8" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RavenHQ-Web.config Connection String" />
  </ItemGroup>
</Project>