@{
    ViewBag.Title = "WinApps - App not found";
}

<div class="page-region" >
    <div class="page-region-content">
            <div class="page-header-content">
            <h1>App not found...</h1>
        </div>
        <div class="grid">
            <div class="row">
                <div class="span4 padding15 bg-color-blueLight" style="display: inline-block;">
                    <img src="~/Content/images/TopicNotFound.png" alt="Topic not found"/>
                </div>
                <div class="span8">
                    <h3>Oops... we couldn't find the requested app.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

