@model dynamic

@{
    ViewBag.Title = "WinApps - Error page not found";
}


<div class="page secondary">
    <div class="page-header">
        <div class="page-header-content">
            <h1>Page not found</h1>
            <a href="javascript:history.go(-1);" class="back-button big page-back"></a>
        </div>
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <div class="grid">
                <div class="row">
                    <div class="span6">
                        Oops.. We couldn't find the requested page.
                    </div>
                    <div class="span4">
                        <div class="span4 padding30 text-center place-left bg-color-blueLight">
                            <h3 class="text-center">Advertisment</h3>
                            <script type="text/javascript"><!--
    google_ad_client = "ca-pub-7040466421713161";
    /* InfoPages sidebar */
    google_ad_slot = "6200441666";
    google_ad_width = 200;
    google_ad_height = 200;
    //-->
                            </script>
                            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>