<div class="row-fluid">
    <div class="span12" style="background-color: #00aba9; text-align: left; padding: 15px;">
        <div style="color: white; font-size: 20.5px; ">
            Global statistics:
        </div>
        <div style="color: white; font-size: 20.5px; font-weight: bold;">
            Applications: @ViewBag.AppsCount<br />
            Developers: @ViewBag.DevCount
        </div>
    </div>
</div>
